@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
/* 200, 300, 400, 500 */

* {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: 400;
}


/**************** index.html ******************/
#root .navbar {
  width: 100%;
  background-color: rgb(205, 193, 193);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: #000;
  text-decoration: none;
  font-size: 17px;
  width: 17%; 
  text-align: center; 
}

.navbar a:hover {
  background-color: rgb(203, 172, 172);
}

.navbar a.active {
  background-color: #04AA6D;
}
/************* index.html **************/

/**************** Page 1 ******************/
.movie-vs-show {
  display: flex;
}

.movie-vs-show-btn {
  transition: 0.3s;
  width: 50%;
  height: 4rem;
  display: block;
  font-weight: 400;
}

.movie-vs-show-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/************* end of Page 1 **************/



/*************** Page 2 *******************/
.watchlistPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watchlistPage button {
  height: 90px;
  width: 70%; 
  margin-bottom: 10px;
  background-color: 	#fff4e6; 
  border: 1px solid #005073; 
}

.watchlistPage button:hover {
  background-color: #e5dbcf;
}
/************* end of Page 2 **************/





/**************** Page 3 ******************/


/* 1. Genres */
.genres {
  border: 1px solid black;
  text-align: center;
  height: 6em;
}

#genres-btn {
  background-color: red;
  cursor: pointer;
}


/* ** Range Sliders ** */
.range-slider {
  width: 480px;
  margin: auto;
  text-align: center;
  position: relative;
  height:6em;
}

input[type="button"] {
  background-color: #a7c2dd;
  border: 1px solid #ddd;
  width: 4.9em;
  text-align: center;
  font-size: 1em;
  padding-right: 13px;
}

input[type="button"]:hover {
  background-color: #3490b7;
  cursor: pointer;
}

input[type="range"] {
  position: absolute;
  left: 0;
  bottom: 0;
  /* the line once the cirlce is moved */
  appearance: none;
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #6892bd;
  border-radius: 10px;
  border: 0;
}

input[type="number"] {
  border: 1px solid #ddd;
  width: 2.9em;
  text-align: center;
  font-size: 1em;
}

/* The slider cirlcles */
input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: #08111a;
  cursor: pointer;
  appearance: none;
  margin-top: 0px;
}


#filtering-btn {
  background-color: rgb(126, 68, 167);
  width: 100px;
  height:4em;
}
/************* end of Page 3 **************/


/**************** Page 4 ******************/



/*   R E S P O N S I V E  */

/* index.html */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; 
  }
}
/* index.html */